---
import '../styles/global.css'
import MyFleche from '../../public/fleche.svg'
import photo_tp from '../../public/photo_tp.jpg'
---

<script>
  //  When hover on h3 put the opacity of h3::after at 1 and when mouseleave put opacity at 0
  const h3Elements = document.querySelectorAll('h3')

  h3Elements.forEach((h3) => {
    h3.addEventListener('mouseenter', () => {
      h3.classList.add('show')
    })

    h3.addEventListener('mouseleave', () => {
      h3.classList.remove('show')
    })
  })
</script>

<body>
  <header>
    <div class='wrapper-row'>
      <div class='left-part'>
        <h2>Thomas Paquier</h2>
        <hr />
        <h3>3D Modeling</h3>
        <h3>Webdesign</h3>
        <h3>Drawings</h3>
        <h3 class='active'>About</h3>
      </div>
      <div class='right-part'>
        <h3 class='active'>EN</h3>
        <h3>FR</h3>
      </div>
    </div>
  </header>

  <section class='container'>
    <div class='section_content'>
      <div class='first-half'>
        <div class='section_infos'>
          <h4 class='section_title'>Bonjour!</h4>
          <h4 class='section_subtitle'>
            I'm Thomas. France based <span
              class='section_subtitle_span_modeleur'>3D Artist</span
            >
            & <span class='section_subtitle_span_web'>WebDevelopper</span> / <span
              class='section_subtitle_span_web'>novice illustrator</span
            >
          </h4>
          <p>
            I've worked as a WebDevelopper and WebDesigner at Visiperf,
            collaborating with colleague and clients such as Mazda, KFC and
            Franck Provost.
          </p>
          <p>
            Then led a Motion and Design team as a Creative Director at
            MAGNETISM.
          </p>
          <p>
            I've always tried to give equal importance to story-telling and
            composition, balancing the two. Tried to transform the cgi work as a
            new way to express oneself.
          </p>
        </div>
        <div class='section_socials'>
          <a
            href='thomas.paquier.pro@gmail.com'
            class='section_socials_elements'
          >
            <p>GET IN TOUCH</p>
            <img src={MyFleche.src} alt='une fleche de redirection' />
          </a>
          <a
            href='https://www.linkedin.com/in/thomas-paquier-663b16223/'
            class='section_socials_elements'
          >
            <p>LINKEDIN</p>
            <img src={MyFleche.src} alt='une fleche de redirection' />
          </a>
          <a
            href='https://thomas_paquier.artstation.com/'
            class='section_socials_elements'
          >
            <p>ARTSTATION</p>
            <img src={MyFleche.src} alt='une fleche de redirection' />
          </a>
          <a
            href='https://www.instagram.com/thomas_paquier/'
            class='section_socials_elements'
          >
            <p>INSTAGRAM</p>
            <img src={MyFleche.src} alt='une fleche de redirection' />
          </a>
        </div>
      </div>
      <div class='second-half'>
        <img src={photo_tp.src} alt='Image de thomas paquier' />
      </div>
    </div>
  </section>
</body>

<style scoped>
  body {
    background: black;
    font-family: var(--article-second-font-family);
  }

  .wrapper-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 2rem;
    /* padding: 90px 110px 0; grand écran */
    padding: 50px 110px 0;

    font-weight: 400;
    /* font-size: 26px; grand écran */
    font-size: 20px; /* Ecran moyen (mon pc)*/
    line-height: 1.154;
    letter-spacing: 0.007em;
  }
  .wrapper-row h3 {
    position: relative;
  }
  .wrapper-row h3::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom-color: #fff;
    border-bottom-width: #fff;
    bottom: -5px;
    left: 0;
    width: 100%;
    border-bottom-style: solid;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  h3.active::after {
    opacity: 1;
  }
  h3.show::after {
    opacity: 1;
  }

  .left-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  hr {
    width: 4vw;
    border: 1px solid white;
  }

  .right-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  /* .container {
    font-family: var(--article-font-family);

    height: auto;
    min-height: 715px;
    color: white;
    padding: 60px 110px;
    margin: 0 auto;
    width: 1440px;
    max-width: 100%;
  } */
  .section_content {
    font-family: var(--article-font-family);
    color: white;
    /* padding: 100px 250px 0; grand écran  */
    padding: 50px 200px 0;

    /* width: 100%; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .first-half {
    width: 40vw;
  }
  .section_infos {
    display: flex;
    flex-direction: column;
    /* gap: 50px; A modifier en changeant la taille de police/ POUR GRAND ECRAN  */
    gap: 20px;
  }
  .section_title {
    /* padding-bottom: 30px; grand écran */
  }
  .section_subtitle {
    margin-bottom: 20px;
  }
  .section_subtitle span {
    text-decoration: underline;
  }
  .section_infos h4 {
    /* font-size: 2rem; grand écran */
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.025rem;
  }
  .section_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* margin-top: 50px; grand écran */
    margin-top: 30px;
  }
  .section_socials img {
    height: 3rem;
    width: 3rem;
  }
  .section_socials_elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 5px;
    color: white;
    text-decoration: none;
  }

  .second-half {
    width: 30vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .second-half img {
    /* padding-right: 131px; grand écran */
    padding-left: 120px;
    height: auto;
    width: 100%;
  }
</style>
