---
import testImage from '/test.jpg'

import '../styles/global.css'
import { getCollection } from 'astro:content'
import { listProjects } from '../entities/project/api'

const projects = await listProjects()

const previous = projects.at(-1)!.data
const current = projects.at(0)!.data
const next = projects.at(1)!.data
---

<section class='projets'>
  <div class='previous-project'>
    <div class='titles'>
      <h2 class='last'>{previous.title} <br /> {previous.title2}</h2>
    </div>
  </div>
  <div class='projet'>
    <div class='wrapper'>
      <div class='titles'>
        <h2 class='first'>{current.title} <br /> {current.title2}</h2>
        <h2 class='last'>{current.title} <br /> {current.title2}</h2>
      </div>
      <div class='image'>
        <img src={testImage} />
      </div>
    </div>
  </div>
  <div class='index'>
    01<span style='font-weight: 400; font-size: 1.2vw'>&#10187;</span><span
      >{projects.length < 10 ? `0${projects.length}` : projects.length}</span
    >
  </div>
  <div class='next-project'>
    <div class='titles'>
      <h2 class='last'>{previous.title} <br /> {previous.title2}</h2>
    </div>
  </div>
</section>

<style>
  body {
    margin: 0;
  }

  .previous-project {
    width: 68%;
    margin: 0 auto;
    transform: translateY(-70px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .previous-project.hide {
    transform: translateY(-270px);
    opacity: 0;
  }

  .next-project {
    width: 68%;
    margin: 0 auto;
    transform: translateY(-270px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .next-project {
    transform: translateY(-70px);
    opacity: 0;
  }

  .projets {
    height: 100vh;
    background: #333;
    overflow: hidden;
  }

  .projet {
    width: 68%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .wrapper {
    font-family: aktiv-grotesk, sans-serif;
    width: 100%;
    height: 755px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .titles {
    font-family: 'aktiv-grotesk-extended';
    /* letter-spacing: 4px; */
    text-transform: uppercase;
    position: relative;
  }

  .titles h2 {
    font-weight: 800;
    font-size: 6vw;
    color: white;
    font-style: normal;
    line-height: 100%;
    /* transform-origin: 100% 50%; */
  }

  .titles h2.last {
    color: transparent;
    -webkit-text-stroke: 2px white;
    z-index: 10;
    position: absolute;
    top: 0;
  }

  .previous-project .titles h2.last,
  .next-project .titles h2.last {
    -webkit-text-stroke: 1px white;
  }

  .content-left {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .index {
    font-family: 'aktiv-grotesk';
    position: absolute;
    bottom: 0;
    font-size: 1.7vw;
    color: white;
    font-weight: 600;
    top: 68.5%;
    left: 16.4%;
  }
  .index span {
    font-size: 0.9vw;
  }

  .image {
    position: fixed;
    left: 40%;

    /* right: 0; */
  }

  .image::after {
    transition: all 0.85s cubic-bezier(0.165, 0.84, 0.44, 1);
    content: '';
    background: rgb(162, 116, 210);
    padding-bottom: -20px;
    opacity: 0.4;
    width: 100%;
    height: 98.5%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .image.active::after {
    background: none;
  }

  .wrapper h2 {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .wrapper img {
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .wrapper h2.active {
    /* font-size: 7vw; */
    transform: scale(1.15);
  }

  .wrapper .image.active img,
  .wrapper .image.active::after {
    transform: scale(1.1);
  }
</style>

<script>
  import { listProjects } from '../entities/project/api'

  const projects = await listProjects()

  let current = projects.at(0)!.data

  document.onwheel = () => {
    setInterval(() => {
      console.log('current', current)
    }, 5000)
  }
  ;(document.querySelector('.wrapper') as HTMLDivElement).addEventListener(
    'mouseover',
    () => {
      const previous = document.querySelector('.previous-project')!
      const next = document.querySelector('.next-project')!
      const titles = document.querySelectorAll('h2')
      const img = document.querySelector('.image')!

      titles.forEach((title) => title.classList.add('active'))
      img.classList.add('active')
      previous.classList.add('hide')
      next.classList.add('hide')
    },
  )
  ;(document.querySelector('.wrapper') as HTMLDivElement).addEventListener(
    'mouseout',
    () => {
      const previous = document.querySelector('.previous-project')!
      const next = document.querySelector('.next-project')!
      const titles = document.querySelectorAll('h2')
      const img = document.querySelector('.image')!

      titles.forEach((title) => title.classList.remove('active'))
      img.classList.remove('active')
      previous.classList.remove('hide')
      next.classList.remove('hide')
    },
  )
</script>
