---
type Props = {
  description: string
  title?: string
}

const { description, title } = Astro.props
---

<html lang='fr'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <meta name='theme-color' content='#fff' />
    <meta property='og:title' content={title} />
    <meta property='og:type' content='' />
    <meta property='og:image' content='' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:description' content={description} />
    <title>
      {title}
      {title ? '-' : ''} Thomas Paquier
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
