---
import type { Project } from '../content/config'

type Props = Project & {}

const props = Astro.props
import '../styles/global.css'
---

<main class='main'>
  <section class='article'>
    <div class='wrapper-titre'>
      <div class='titles'>
        <h2 class='first'>{props.title} <br /> {props.title2}</h2>
      </div>
    </div>
  </section>
  <section class='about-project'>
    <div class='text-left'>
      <p class='paragraph-left'>Client<br /></p>
      <p class='paragraph-left normal'>
        {props.client}<br />
      </p>
      <p class='paragraph-left normal'><br /></p>
      <p class='paragraph-left'>
        year<br />
      </p>
      <p class='paragraph-left normal'>
        {props.annee.debut}-{props.annee.fin}<br />
      </p>
      <p class='paragraph-left'>
        <br />
      </p>
      <p class='paragraph-left'>role<br /></p>
      <ul class='paragraph-left normal'>
        {props.roles.map((role: string) => <li>{role}</li>)}
      </ul>
      <!-- <p class='paragraph-left normal'>
        {props.role}
        <br />
        {props.role2}
        <br />
        {props.role3}
        <br />
      </p> -->
    </div>
    <div class='text-right'>
      <div class='h3-title'>{props.subject}</div><p
        class='h2-subheading cd small'
      >
        {props.summary}
      </p>
    </div>
  </section>
  <slot />
</main>

<style define:vars={{ projectImage: `url(${props.image})` }}>
  .article {
    background-color: red;
    background-image: var(--projectImage);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .wrapper-titre {
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titles {
    height: 100%;
    width: 35%;
    left: 13%;
    text-transform: uppercase;
  }

  .titles h2 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 800;
    font-size: 5vw;
    color: rgb(232, 230, 227);
    font-style: normal;
    letter-spacing: 0;
    position: absolute;
    line-height: 110%;
    top: 52%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 5;
  }

  /* About de l'article la où toutes les infos sont mises (client, année, role, etc) */
  .paragraph-left {
    margin-bottom: 0px;
    padding-right: 100px;
    padding-bottom: 2px;
    align-self: stretch;
    flex: 1;
    font-family: Proximanova, sans-serif;
    color: #141414;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 800;
    text-align: right;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .paragraph-left.normal {
    padding-bottom: 4px;
    font-family: Proximanova, sans-serif;
    color: #000;
    line-height: 1.5;
    font-weight: 300;
  }

  .paragraph-right {
    margin-bottom: 0px;
    padding-right: 40px;
    padding-bottom: 20px;

    align-self: stretch;

    flex: 1;
    font-family: Inter, sans-serif;
    font-weight: 700;
  }

  .text-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 0px;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    align-self: flex-start;
  }

  .text-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;

    flex-direction: column;

    justify-content: center;

    align-items: flex-start;

    align-self: flex-start;
  }

  .about-project {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 160px;
    padding-bottom: 100px;

    justify-content: center;
    text-align: left;
  }
  .h3-title {
    margin-top: 0px;
    padding-bottom: 10px;
    align-self: flex-start;
    flex: 0 auto;
    font-family: Recoleta, Georgia, sans-serif;
    color: #000;
    font-size: 62px;
    line-height: 1.1;
  }
  .h2-subheading {
    line-height: 1.6;
    letter-spacing: 0.2px;
  }

  .h2-subheading.cd {
    max-width: 800px;
    padding-top: 0px;
    padding-right: 60px;
    padding-left: 0px;
    font-family: Proximanova, sans-serif;
    font-size: 19px;
    font-weight: 200;
  }

  .h2-subheading.cd.small {
    max-width: none;
    padding-top: 10px;
    padding-right: 30px;
    font-weight: 100;
    align-self: flex-start;

    flex: 1;
  }
</style>
